<section class="mt-5">
    <h2>পাঠ্যবই (বাংলাদেশ)</h2>
    <ul class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
        {{ range where .Site.RegularPages "Section" "textbooks" | first 10 }}
        {{ partial "item_single.html" . }}
        {{ end }}
    </ul>
</section>
<section class="mt-5">
    <h2>পাঠ্যবই (পশ্চিমবঙ্গ)</h2>
    <ul class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
        {{ range (site.GetPage "textbooks/c1").RegularPages | first 5}}
        {{ partial "item_single.html" . }}
    {{ end }}
    </ul>
</section>