<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
        data-bs-auto-close="outside">পাঠ্যবই</a>
    <ul class="dropdown-menu">
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">প্রাথমিক</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/textbooks/c1/">১ম শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c2/">২য় শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c3/">৩য় শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c4/">৪র্থ শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c5/">৫ম শ্রেণি</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">মাধ্যমিক</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/textbooks/c6/">৬ষ্ঠ শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c7/">৭ম শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c8/">৮ম শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c9/">৯ম শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c10/">১০ম শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c9-10/">৯ম - ১০ম শ্রেণি</a></li>
            </ul>
        </li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/textbooks">সবগুলো একসঙ্গে</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
        data-bs-auto-close="outside">নোটবই</a>
    <ul class="dropdown-menu">
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">প্রাথমিক</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/textbooks/c1">১ম শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c2">২য় শ্রেণি</a></li>
            </ul>
        </li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/textbooks">সবগুলো একসঙ্গে</a></li>
    </ul>
</li>