<ul class="books-list list-unstyled row row-cols-2 no-gutters row-cols-md-3 row-cols-lg-5 row-cols-wd-6 border-top border-left my-0">
    {{ range .Paginator.Pages }}
    <li class="book-item">
        <div class="overflow-hidden bg-white p-3 h-100">
            <div class="wrapper d-block position-relative h-100">
                <a href="{{ .Permalink }}" class="d-block">
                    <img alt="Cover of the book {{ .Title }}" class="ml-auto  mx-auto d-block"
                        src='{{if isset .Params "thumb"}} {{ .Site.Params.mainURL }}/assets/img/books/{{ .Params.thumb }} {{else if isset .Params "img"}}  {{ .Params.img }} {{ else }}https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnSJ4EHEjSc0tnEn6ZFtNomhsEy-ORV79y7Gu3Yob9rQ&s{{end}}'
                        style="width: 150px; height: 210px;">
                    <div class="books-desc pt-3 text-center">
                        <h4 class="book-name">{{ .Title }}{{- with .Params.class }} -- {{.}}{{end}}</h4>
                        {{- if isset .Params "author" -}}
                        <h5>{{ .Params.author }}</h5>
                        {{- else if isset .Params "publisher" -}}
                        <h5>{{ .Params.publisher }}</h5>
                        {{- end -}}
                        {{- with .Params.translator -}}{{ . }}{{ end }}
                        {{- with .Params.ayear }}<h6>{{ . }} শিক্ষাবর্ষ</h6>{{- end -}}
                    </div>
                </a>
            </div>
        </div>
    </li>
    {{ end }}
</ul>