{{ define "head" }}
{{- /* JSON-LDS */ -}}
<script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{ .Site.Params.siteName}}",
      "alternateName" : {{ .Site.Params.siteNames}},
      "url" : "{{ .Site.Params.siteURL }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ .Site.Params.siteURL }}search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    }
</script>
{{ end }}
{{ define "main" }}
<div class="container">
	{{if .Site.Home }}
	{{ partial "hero.html" . }}
	{{ end }}
	{{if .Site.Home.Content }}
	<section class="mt-5">
		<h2>সকল বই</h2>
		{{ partial "listing.html" . }}
		<div class="d-flex aligns-items-center justify-content-center">{{ template "_internal/pagination.html" . }}
		</div>
	</section>

	{{else}}
	No HomePage
</div>
{{ end }}
{{ end }}